.article-items p{
    text-decoration: none;
}
.link-article-1 {
    text-decoration: none;
    font-size: 12px;
    color: #2a2834;
}
.link-article-2 {
    text-decoration: none;
    font-style: italic;
    color: #313335;
}
